<launch>

    <!--
      Launch file for Trainer.py Python file
      -->
    <node name="Trainer_node" pkg="lab3" type="Trainer.py" output="screen">
        <param name="bag_path" type="string" value="/home/tim/car_ws/src/lab3/bags/motion_data2.bag" /> <!-- Bag file is stored locally, not in GitHub (too big) -->
    </node>

</launch>
